html{
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
}﻿
.btnResutlt{
  background: red;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

.btnResutlt:hover{
  background: darkred;
}

div{
  padding: 2px;
}
﻿
